.how-section {
  margin-top: 50px;
  position: relative;
  height: auto;
}

.heading {
  font-size: 42px;
  font-weight: 600;
  position: relative;
}

.heading:after {
  display: block;
  width: 5%;
  background-color: rgba(255, 210, 0, 1);
  height: 8px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.widget-head {
  font-size: 2vw;
  position: absolute;
  left: 0;
  margin-top: 36px;
}

.widgets {
  display: flex;
  gap: 2px;
  position: relative;
  margin-top: 150px;
  gap: 4%;
}

.w-1,
.w-2,
.w-3 {
  position: relative;
  height: 600px;
  width: 300px;
  background: transparent;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  /* background-color: gray; */
}

.w-1-content,
.w-2-content,
.w-3-content {
  width: calc(100% - 40px);
  height: calc(75% - 20px);
  background-color: gray;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-1-content {
  background-image: url("../Images/Rectangle 38.png");
}

.w-2-content {
  background-image: url("../Images/Rectangle\ 39.png");
}

.w-3-content {
  background-image: url("../Images/Rectangle\ 40.png");
}

.w-header {
  font-size: 32px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.w-desc {
  font-size: 16px;
  text-align: left;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

.v-1,
.v-2,
.v-3 {
  position: absolute;
  bottom: 50px;
  padding-left: 70px;
}

.v-1 button,
.v-2 button,
.v-3 button {
  width: 200px;
  height: 56px;
  font-size: 1.1vw;
  border-radius: 16px;
  border: none;
  background-color: white;
  box-shadow: 0px 10px 25px rgba(25, 145, 147, 0.15);
  cursor: pointer;
  color: rgba(37, 206, 209, 1);
}

/*---------------------For Business--------------------*/

.business {
  margin-top: 50px;
  position: relative;
  /* background-color: green; */
}

.b-header {
  font-size: 35px;
}

.b-content {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  font-size: 20px;
}

.register-business {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.register-business .text {
  text-align: left;
}

.register-btn button {
  height: 56px;
  width: 180px;
  border-radius: 16px;
  border: none;
  color: white;
  background-color: rgba(37, 206, 209, 1);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 8px 24px rgba(37, 206, 209, 0.398);
  cursor: pointer;
}

/*-----------------Reviews------------------------*/

.reviews {
  position: relative;
  margin-top: 80px;
  height: auto;
  /* background-color: red; */
}

.r-header {
  font-size: 42px;
  font-weight: 600;
}

.r-header:after {
  content: " ";
  height: 8px;
  width: 10%;
  display: block;
  background-color: rgba(255, 210, 0, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.reviews-list {
  display: flex;
  overflow-x: scroll;
  height: 400px;
  width: 100%;
  /* background-color: blue; */
  gap: 4%;
  align-items: center;
  margin-top: 50px;
}

.review-1,
.review-2,
.review-3,
.review-4 {
  width: calc(31% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(229, 229, 229, 1);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.your-review {
  text-align: left;
}

/* ====== Extra ======= */

.mid-container {
  display: flex;
  width: 1440px;
  padding: 48px 107px 48px 108px;
  align-items: center;
  gap: 96px;
  background: rgba(255, 165, 165, 0.5);
  margin-right: 100px;
}

.mid-conatiner-content-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.mid-conatiner-content-1-p1 {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  height: 63px;
  width: 386px;
  text-align: left;
}

.counselor-details-main {
  align-items: center;
  gap: 16px;
}

.mid-conatiner-content-2 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.counselors-details {
  display: flex;
  padding: 24px 32px;
  flex-direction: eow;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.counselor-specialisation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.detail-main-heading {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 24px;
}

.counselor-edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.counselor-edu p {
  color: #666;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  height: 38px;
  width: 198px;
  text-align: left;
}

.counselor-specialisation {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.counselor-specialisation-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.counselor-specialisation-content p {
  width: 228px;
  height: 28px;
  color: #666;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.counselor-specialisation-content h3 {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.counselor-slots {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 16px;
}

.counselor-slot-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.counselor-slot-content h3 {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.counselor-slot-content p {
  color: #666;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.button-div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.slot-button-1 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #f2f2f2;
  border: none;
  color: #555;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 172.222% */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  cursor: pointer;
}

.slot-button-2 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #25ced1;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
  letter-spacing: 0.36px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

.mid-rect {
  width: 100px;
  height: 8px;
  background: #fff;
}

.mid-conatiner-content-1 h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

.mid-conatiner-content-1 h1 {
  color: #25ced1;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 145.187%;
  letter-spacing: 1.76px;
  text-transform: uppercase;
}

.match-btn {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #fff;
  color: #555;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 155% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
