.Navbar {
    width: calc(100% - 240px);
    height: 95px;
    background-color: rgb(255, 255, 255);
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    margin-bottom:2px;
    box-shadow:1px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;

}

.Navbar-content {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
}

.main-logo {
    height: 50px;
    width: 150px;
    float: left;
  
}

.nav-options {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 36px;
    font-size: 20px;
    font-weight: 400;
}

.nav-options div {
    cursor: pointer;
    transition: font-weight 0.2s ease-in-out
}

.fontweight6 {
    font-weight: 600;
}

.auth1,
.auth2 {
    font-size: 16px;
    border-radius: 50px;
    height: 47px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(37, 206, 209, 1);
    transition: 0.2s;
}

.auth1 {
    background-color: rgba(37, 206, 209, 1);
    color: white;
}